{% extends 'layout/blog.twig' %}

{% block title %}Posts with tag &quot;{{ tag.label }}&quot; - Blog{% endblock %}
{% block head %}
    <meta name="robots" content="noindex,follow">
{% endblock %}
{% block blog_content %}
    <section itemscope itemtype="http://schema.org/Blog">
        <h1 class="page-header" itemprop="name">Posts with tag &quot;{{ tag.label }}&quot;</h1>
        {% include 'layout/partial/post-list.twig' with {pagination: paginate(tag.posts)} %}
    </section>
{% endblock %}
