{% extends 'layout/default.twig' %}

{% block title %}404 - File not found{% endblock %}
{% block content %}
    <article itemscope itemtype="http://schema.org/WebPage">
        <h1 class="page-header" itemprop="name">404 - File not found</h1>

        <section>
            <p>
                The file you requested could not be found on the server.
            </p>
        </section>
    </article>
{% endblock %}
