{% extends 'layout/default.twig' %}

{% block title %}Home{% endblock %}
{% block content %}
    <article itemscope itemtype="http://schema.org/WebPage">
        <h1 class="page-header" itemprop="name">Home</h1>


    </article>
{% endblock %}
